html {
  background: no-repeat fixed;
  background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg");
  background-size: cover;
  background-position: center;
  transition: 1s;
}

body {
  padding: 10px;
  background-color: rgba(5, 17, 24,0.8);
}

th, td {
  padding: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1.5px solid #555;
    transition: 0.2s;
    outline: none;
}

input[type=text]:focus {
    background-color: #cee8ff;
    border: 1.5px solid #222;
}

name {
  font-size: large;
  color: #ff8811;
  /* ff8811  dddddd*/
}

gold {
  font-size: large;
  color: #d8a
  e4b; 
}

description {
  font-size: medium;
  color: #aaaaaa;
  /* ff8811  dddddd*/
}

/* 스텟 */
description stats attention { color: #eeeeee; }

/* 설명 */
description li magicdamage { color: #0bdfff; }
description li speed { color: #fdffc9; } 

description li raritylegendary { color: #eeeeee; }
description li raritymythic { color: #ff8811; }
description li attention { color: #eeeeee; }
description li rules { color: #555555; }